@model BaiThiLVT.Models.LVTCau3

@{
    ViewData["Title"] = "Delete";
}

<h1>Xoá</h1>

<h3>Bạn muốn xoá thông tin <nav></nav>?</h3>
<div>
    <h4>LVTCau3</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Họ và tên: 
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TenNhanVien)
        </dd>
        <dt class = "col-sm-2">
            Địa chỉ: 
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DiaChi)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="IDNhanVien" />
        <input type="submit" value="Xoá" class="btn btn-danger" /> |
        <a asp-action="Index">Trở về</a>
    </form>
</div>
